@import 'colors';
@import 'durations';
@import 'fonts';
@import 'screens';
@import 'sizes';
@import 'typography';

a {
  color: $blue-base;
  text-decoration: none;

  &:hover {
    color: $blue-darker;
  }

  &:visited {
    color: $purple-darker;
  }
}